<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/translation/">Переводчик</a></li>
            <li><a href="/camera/"></a></li>
            <li><a href="/register/">Регистрация</a></li>
            <li><a href="/login/">Вход</a></li>
        </ul>
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
